.flightdataBox {
    display: flex; /* Use flexbox to arrange items */
    align-items: center; /* Align items vertically in the center */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px; /* Add padding for spacing */
    border-radius: 8px; /* Add border radius for rounded corners */
    background-color: #f0f6ff; /* Change background color to light blue */
    margin-bottom: 20px; /* Add margin bottom for spacing between flights */
}

.flightdataBox img {
    max-width: 200px; /* Set a fixed width for the image */
    margin-right: 20px; /* Add margin between image and text */
}

.input[type="text"] {
    margin-left: 10%;
    width: 80%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.input[type="text"]:focus {
    outline: none;
    border-color: #ff0051;
    box-shadow: 0 0 5px rgba(242, 0, 255, 0.5);
}

.input[type="text"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
